Семенова Майя Валериевна

In [1]:
#Урок 1. Домашнее задание. 
#Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mt
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1.Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?
2. Каков средний возраст (признак age) женщин?
3. Какова доля граждан Германии (признак native-country)?
4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получа
ет более 50K в год (признак salary) и тех, кто получает менее 50K в год?
6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)
7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.
8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.
9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?
10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [3]:
#1.Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?
print(data['sex'].value_counts())

Male      21790
Female    10771
Name: sex, dtype: int64

In [4]:
#2.Каков средний возраст (признак age) женщин?
print('Средний возраст женщин ',data[(data['sex'] == 'Female')]['age'].mean())

Средний возраст женщин  36.85823043357163

In [5]:
#3.Какова доля граждан Германии (признак native-country)?
print('Доля граждан Германии:', (data[data['native-country'] == 'Germany']['native-country'].count() /
                                 data['native-country'].count()))

Доля граждан Германии: 0.004207487485028101

In [6]:
#4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получа ет более 50K в год (признак salary) и тех, кто получает менее 50K в год?
print('Среднее значение возраста тех, кто получает более 50К в год: ', data[(data['salary'] == '>50K')]['age'].mean())
print('Среднеквадратичное отклонение возраста тех, кто получает более 50К в год: ', data[(data['salary'] == '>50K')]['age'].std())
print('Среднее значение возраста тех, кто получает менее 50К в год: ', data[(data['salary'] == '<=50K')]['age'].mean())
print('Среднеквадратичное отклонение возраста тех, кто получает менее 50К в год: ', data[(data['salary'] == '<=50K')]['age'].std())

Среднее значение возраста тех, кто получает более 50К в год:  44.24984058155847
Среднеквадратичное отклонение возраста тех, кто получает более 50К в год:  10.51902771985177
Среднее значение возраста тех, кто получает менее 50К в год:  36.78373786407767
Среднеквадратичное отклонение возраста тех, кто получает менее 50К в год:  14.020088490824813

In [7]:
#4.Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)
total = (data[(data['salary'] == '>50K')]['salary'].count())
total_vys = (data[(data['education-num'] > 11) & (data['salary'] == '>50K')]['salary'].count())
if total_vys/total > 0.5:
    print('Люди, которые получают больше 50К не все, но большинство, имеет как минимум высшее образование!')
else:
    print('Люди, которые получают больше 50К не имеют высшего образования!')

Люди, которые получают больше 50К не все, но большинство, имеет как минимум высшее образование!

In [8]:
#5.Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.
print(data['race'].describe())
print(data.groupby(['race', 'sex']).mean())
print('Максимальный возраст мужчин расы "Amer-Indian-Eskimo": ' , data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max())

count     32561
unique        5
top       White
freq      27816
Name: race, dtype: object
                                 age         fnlwgt  education-num  \
race               sex
Amer-Indian-Eskimo Female  37.117647  112950.731092       9.697479
                   Male    37.208333  125715.364583       9.072917
Asian-Pac-Islander Female  35.089595  147452.075145      10.390173
                   Male    39.073593  166175.865801      11.245310
Black              Female  37.854019  212971.387781       9.549839
                   Male    37.682600  242920.644997       9.423199
Other              Female  31.678899  172519.642202       8.899083
                   Male    34.654321  213679.104938       8.802469
White              Female  36.811618  183549.966906      10.127980
                   Male    39.652498  188987.386148      10.138521

                           capital-gain  capital-loss  hours-per-week
race               sex
Amer-Indian-Eskimo Female    544.605042     14.462185       36.579832
                   Male      675.260417     46.395833       42.197917
Asian-Pac-Islander Female    778.436416     50.852601       37.439306
                   Male     1827.813853    120.373737       41.468975
Black              Female    516.593569     45.450804       36.834084
                   Male      702.454430     75.186106       39.997451
Other              Female    254.669725     36.284404       35.926606
                   Male     1392.185185     77.746914       41.851852
White              Female    573.610391     65.390535       36.296691
                   Male     1368.674455    102.261343       42.668822
Максимальный возраст мужчин расы "Amer-Indian-Eskimo":  82

In [9]:
#6.Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.
data[(data['salary'] == '>50K')]['marital-status'].value_counts()

Married-civ-spouse       6692
Never-married             491
Divorced                  463
Widowed                    85
Separated                  66
Married-spouse-absent      34
Married-AF-spouse          10
Name: marital-status, dtype: int64

In [10]:
#7.Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?
print('Максимальное количество часов, которое человек работает в неделю: ',data['hours-per-week'].max())
data[(data['hours-per-week'] >= 99)]['salary'].value_counts('>50K')

Максимальное количество часов, которое человек работает в неделю:  99

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

In [11]:
#8.Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country)
data.groupby(['native-country','salary']).mean()

                             age         fnlwgt  education-num  capital-gain  \
native-country salary
?              <=50K   36.853547  195354.379863      10.038902    113.757437
               >50K    44.328767  187154.513699      12.273973   6873.205479
Cambodia       <=50K   35.666667  167065.666667       7.916667    498.250000
               >50K    41.428571  237677.000000      10.285714   1935.714286
Canada         <=50K   41.012195  169279.585366      10.243902    110.695122
...                          ...            ...            ...           ...
United-States  >50K    44.297169  187433.992330      11.578859   3967.286850
Vietnam        <=50K   33.951613  165028.725806       9.661290    240.193548
               >50K    35.400000  141648.400000       9.600000   5873.600000
Yugoslavia     <=50K   38.000000  227306.800000       9.700000      0.000000
               >50K    40.166667  197059.166667      10.333333    926.000000

                       capital-loss  hours-per-week
native-country salary
?              <=50K      62.427918       40.164760
               >50K      285.397260       45.547945
Cambodia       <=50K     289.833333       41.416667
               >50K        0.000000       40.000000
Canada         <=50K     145.524390       37.914634
...                             ...             ...
United-States  >50K      194.465207       45.505369
Vietnam        <=50K      94.338710       37.193548
               >50K        0.000000       39.200000
Yugoslavia     <=50K       0.000000       41.600000
               >50K        0.000000       49.500000

[82 rows x 6 columns]